body{
    background-image: url(WallpaperAccueil.jpg);
}

/*TITRE*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
p {
    text-align: center;
    border-right: solid 5px rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;  
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-bottom: 500px;
}
p {
    animation: animated-text 4s linear 1 normal both,
    animated-cursor 600ms linear infinite;
}
@keyframes animated-text{
    from{width: 0;}
    to{width: 975px;}
}
@keyframes animated-cursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}
/**TITRE**/

.lien_GSB{
    text-decoration: none;
    font-size: 35px;
    color: black;
    background-color: lightblue;
    border: solid 3px navy;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 125px;
    padding-left: 125px;
    border-radius: 15px;
}
.lien_GSB:hover{
    background-color: navy;
    color: white;
}