body{
    background-image: url(WallpaperAccueil.jpg);
}

/*TITRE*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
.titre {
    border-right: solid 5px rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;  
    font-size: 50px;
    font-weight: bold;
    color: white;
    background-color: lightblue;
    border-radius: 15px;
    margin-bottom: 250px;
}
.titre {
    animation: animated-text 4s linear 1 normal both,
    animated-cursor 600ms linear infinite;
}
@keyframes animated-text{
    from{width: 0;}
    to{width: 1000px;}
}
.titre, .img_titre{
    display: inline-block;
    vertical-align: middle;
}
.img_titre{
    margin-bottom: 225px;
}
/**TITRE**/

.lien_GSB{
    text-decoration: none;
    font-size: 35px;
    color: black;
    background-color: lightblue;
    border: solid 3px navy;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 125px;
    padding-left: 125px;
    border-radius: 15px;
}
.lien_GSB:hover{
    background-color: navy;
    color: white;
}