header{
    background-image: url(Header.jpg);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.titre{
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    color: navy;
}
.sous-titre{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 50px;
}

#connexion_user, #connexion_admin{
    display: inline-block;
    border: ridge 10px grey;
    padding-top: 25px;
    padding-bottom: 25px;
}
.user, .admin{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}
.saisie_identifiant, .saisie_mdp{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 15px;
}
.saisie_mdp{
    margin-bottom: 50px;
}
.btn_connexion{
    background: radial-gradient(black, grey);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}