header{
	background-color: lightblue;
	border-radius: 20px;
}
.img_header{
	margin-left: 100px;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
body{
  padding: 40px;
  background-color: blue;  
}
p {
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 28px;
  color: rgba(255,255,255,.70);
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}
p {
  animation: animated-text 5s steps(30,end) 1 normal both;
}
@keyframes animated-text{
  from{width: 0;}
  to{width: 900px;}
}

.content{
	border: solid 3px white;
	padding: 15px;
	border-radius: 25px;
}
.img_header,.titre{
	display: inline-block;
}
.titre{
	float: right;
	margin-top: 10px;
	margin-right: 500px;
	font-style: italic;
	font-size: 50px;
	color: blue;
}
h1{
	color: white;
	font-weight: bold;
}

.légende{
	color: black;
}
.btn{
	font-weight: bold;
	font-size: 25px;
	font-style: italic;
}
.modal-title{
	color: blue;
	text-align: center;
	font-style: italic;
}