body{
    background-color: lightblue;
}

.message_bienvenue{
    font-size: 35px;
}

.accès_fiche{
    text-decoration: none;
    font-size: 35px;
}

.btn_deconnexion{
    float: right;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    border: solid 3px red;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: red;
    color: white;
}
.btn_deconnexion:hover{
    background-color: lightgrey;
    color: black;
}



.retour_accueil{
    margin-top: 150px;
    font-size: 30px;
    color: white;
}